body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffb347;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.calculator {
    background-color: #fffacd;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
}

.displays {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    color: gray;
    background: transparent;
    border: none;
    margin-bottom: 50px;
}

input {
    height: 60px;
    font-size: 40px;
    text-align: right;
    padding: 10px;
}

.rows {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    flex: 1;
    height: 50px;
    font-size: 20px;
    background-color: #ffc458;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    max-width: 20%;
}

button:hover {
    background-color: lightskyblue;
}